<footer>
    <!--TODO túl nagy a láthatatlan kattintható szövegdoboz.-->
    <div>
        <a
            href="https://github.com/Nagraggini/web-practising-and-fun/tree/main"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img src="./src/assets/icons/small-link.png" alt="link" />
            My source code</a
        >

        <p>
            &copy; <span id="year"></span> Nagraggini (Andrea Freud) — All
            rights reserved.
        </p>
    </div>
</footer>
