@import "components/colorful-background.css";
@import "components/button-effects-style.css";
@import "components/font-style.css";
@import "components/font-color.css";

:root {
    --gap-md: 1rem;
    --link-color: white;
    --line-heigh-size: 1.2rem;
    --nav-a-color: black;
}

/* Minden projekt szekciót Flexbox-szá teszünk */

.hero,
.modern-projects,
.my-other-works {
    display: flex;
    flex-wrap: wrap; /*Ha nem férnek el egy sorban, törjenek új sorba*/
    gap: 1rem; /* Ez a kulcs: fix távolság a gombok között minden irányban*/
    padding: 0.6rem 0; /*Kis hely alul-felül*/
    align-items: center; /*Függőlegesen középre igazítja a különböző magasságú gombokat*/
}

/*=============================================================*/
/*Tiszta kezdő pont beállítása.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Így a padding és a border nem fogja "szétnyomni" az elemek szélességét.*/
}

/*Minden új projektnél ezt érdemes beállítani.*/
body {
    min-height: 100vh;
}

.unicorning {
    width: 30px;
    margin-left: 15px; /* Kis hely a bal széltől */
    margin-right: 10px; /* Kis hely az unikornis és a szöveg között */
}
/* Ez az elem fogja ellökni a többi menüpontot jobbra */
.page-name-container {
    margin-right: auto !important;
    display: flex;
    align-items: center;
}

nav {
    background-color: rgba(117, 85, 244, 0.3);
    backdrop-filter: blur(1.5rem);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 4rem;
}
nav a,
.sidebar a {
    height: 100%;
    padding: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--nav-a-color);
    font-size: 1.3rem;
    font-weight: bold;
}
nav a:hover {
    background-color: #f0f0f0;
}

/*Mobilos oldalsó bár.*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    /*Az utolsó érték felel az átlátszóságért.*/
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem); /* Safari támogatás! */
    z-index: 9999; /* Legyen minden felett */

    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}

/*Mobilos oldalsó bár.*/
.sidebar a {
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
}
.menu-button {
    display: none;
}
.inside-main {
    margin: 0.5rem 0.5rem;
}

:is(h1, h2, h3, h4, h5, h6, p) {
    margin: var(--gap-md);
    line-height: var(--line-heigh-size);
}

a {
    color: var(--link-color);
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
