html,
body {
  background: linear-gradient(135deg, #c0d7df 0%, #dbe6f6 50%, #a0b4c8 100%);
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* A főcím és alcím stílusai */
h1 {
  font-size: 36px;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  /* Nagybetűs szöveg */
}

h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
  /* Térköz a címek és a gombok között */
  text-align: center;
  /*Középre igazítás.*/
}

p {
  font-size: 20px;
  color: black;
  line-height: 1.5;
  height: auto;
  margin-bottom: 20px;
  text-align: center; /* Középre igazítás */
  margin-left: auto; /* Középre igazítás */
  margin-right: auto; /* Középre igazítás */
  margin-top: 0; /* Felül legyen */
  width: 100%; /* Teljes szélesség */
}

.back-button,
.submit-button {
  background-color: #5e1354; /* Gomb háttérszíne */
  color: black; /* Gomb szövegének színe */
  border: none; /* Nincs keret */
  padding: 10px 20px; /* Belső margó */
  text-align: center; /* Szöveg középre igazítása */
  text-decoration: none; /* Nincs aláhúzás */
  display: inline-block; /* Inline blokk elem */
  font-size: 16px; /* Betűméret */
  margin: 10px 2px; /* Külső margó */
  cursor: pointer; /* Mutató kurzor */
  border-radius: 5px; /* Lekerekített sarkok */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Áttűnés a háttérszín és árnyék változásakor */
  font-weight: bold; /* Félkövér szöveg */
  position: relative; /* Relatív pozíció a fénycsíkhoz */
  overflow: hidden; /* Elrejtjük a túlcsorduló tartalmat */
  margin: 10px 40px; /* Növelt vízszintes margó a gombok között */
}

.back-button::before,
.submit-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -200%; /* Kezdetben rejtve */
  width: 200%;
  height: 20px; /* Vékony csík */
  background: rgba(255, 255, 255, 0.8); /* Fényes csík színe */
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.back-button:hover::before,
.submit-button:hover::before {
  left: 100%; /* Mozgás hover esetén */
  transition: all 0.5s ease;
}

.back-button:hover,
.submit-button:hover {
  transform: scale(1.05); /* Nagyítás hover esetén */
  background-color: #b5a9a9; /* Háttérszín változás hover esetén */
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Csillogó hatás */
}

.back-button:focus,
.submit-button:focus {
  background-color: #b5a9a9; /* Háttérszín változás focus esetén */
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Csillogó hatás */
}
